@import "colors.css";
@import url(layout.css);
@import url(navbar.css); 
@import url(navbar.css);


/* multi-line vertical alignment */
.content-table {
    display: table;
    height: 120px;
}

.content-table p {
    display: table-cell;
    vertical-align: middle;
}


/* block element with known height */
.pos-relative {
    position: relative;
}

/* .v-centered-block {
    height: 100px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%;
} */

/* with unknown height */
.v-centered-block {
    height: 160px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
}

/* block element verticaly and horizontaly centered - known height/width */
/* .v-h-centered-block {
    height: 140px;
    width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
} */

/* for unknown height/width */
.v-h-centered-block {
    height: 140px;
    width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
} 
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: aqua
  }
.text-block {
    position: absolute;
    bottom: 200px;
    left: 20px;
    background-color: rgba(50, 50, 50, 0.4);
    width: 50%;
    box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.7);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .children{
	background: #ffdb4c;
	height: 300px;
	position: relative;
	top: 50%;
	transform: 			translateY(-50%);
}