.purple {
    background-color: #fc5903;
}

.red {
    background-color:#00a9e0;
}

.green {
    background-color:#ffffff;
}

.yellow {
    background-color:#000000;
}

.blue {
    background-color: rgb(69, 117, 221);
}

.transparent {
    background-color: transparent;
} 